@mixin tab {
	@media (max-width: 1023px) {
		@content;
	}
}

@mixin mob {
	@media (max-width: 767px) {
		@content;
	}
}

@mixin o-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: gutter(6) - 12;
}