<div class="q-items q-items--step-@@step q-items--type-@@type q-items--view-@@view">
  <div class="q-items__inner">
    <div class="q-items__list">
      @@if (view === '1') {
        @@for (var i = 0; i < arr.length; i++) {
          <label class="q-items__label">
            <input type="radio" name="step-@@step" value="`+arr[i].id+`" class="q-items__input visually-hidden">
            <span class="q-items__ps-radio">
              <span class="q-items__img">
                <img src="../img/`+arr[i].img+`" alt="">
              </span>
              <span class="q-items__name">
                <span class="q-items__name-str">
                  `+arr[i].name+`
                  <svg>
                    <use xlink:href="img/sprites/sprite.svg#q-arrow-right"></use>
                  </svg>
                </span>
              </span>
            </span>
          </label>
        }
      }
      @@if (view === '2' || view === '3') {
        @@for (var i = 0; i < arr.length; i++) {
          <label class="q-items__label">
            <input type="radio" name="step-@@step" value="`+arr[i].id+`" class="q-items__input visually-hidden">
            <span class="q-items__ps-radio">
              <span class="q-items__img">
                <img src="../img/`+arr[i].img+`" alt="">
              </span>
              <span class="q-items__name">
                <span class="q-items__name-str">
                  `+arr[i].name+`
                </span>
              </span>
            </span>
          </label>
        }
      }
      @@if (view === '4' || view === '5' || view === '6' || view === '7') {
        @@for (var i = 0; i < arr.length; i++) {
          <label class="q-items__label">
            <input type="radio" name="step-@@step" value="`+arr[i].id+`" class="q-items__input visually-hidden">
            <span class="q-items__ps-radio">
              <span class="q-items__name">
                <span class="q-items__name-str">
                  `+arr[i].name+`
                </span>
              </span>
            </span>
          </label>
        }
      }
    </div>
  </div>
</div>