.q-items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  &__list {
    display: grid;
    justify-content: center;
    grid-gap: 20px;
  }
  &__label {
    display: block;
    position: relative;
    cursor: pointer;
  }
  &__input:checked + .q-items__ps-radio {
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.10);
    border: 1px solid $white;
  }
  &__ps-radio {
    display: block;
  }
  &__img {
    display: block;
    background-color: $white;
    img {
      object-fit: contain;
    }
  }
  &__name {
    display: block;
  }
  &--view-1 {
    .q-items {
      &__list {
        grid-template-columns: repeat(2, minmax(135px, 387px));
      }
      &__label {
      }
      &__img img {
        object-fit: cover;
        aspect-ratio: 15.8 / 9;
      }
      &__name {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }
      &__name-str {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: $white;
        font-size: 30px;
        line-height: 100%;
        text-transform: uppercase;
        svg {
          width: 26px;
          height: 10px;
          object-fit: contain;
          margin-left: 20px;
        }
      }
    }
  }
  &--view-2,
  &--view-3,
  &--view-7,
  &--view-9 {
    .q-items {
      &__list {
        grid-template-columns: repeat(3, minmax(90px, 183px));
        grid-gap: 15px;
      }
      &__img {
        margin-bottom: 5px;
        img {
          aspect-ratio: 1 / 1;
        }
      }
      &__name {
        text-align: center;
        font-size: 24px;
        line-height: 140%;
        text-transform: uppercase;
      }
    }
  }
  &--view-2.q-items--step-2.q-items--type-rings {
    .q-items {
      &__inner {
        width: 100%;
        max-width: 1000px;
      }
      &__list {
        grid-template-columns: repeat(auto-fit, minmax(90px, 183px));
      }
    }
  }
  &--view-3 {
    .q-items {
      &__list {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
      }
      &__img {
        img {
          aspect-ratio: 1 / 1;
        }
      }
    }
  }
  &--view-9 {
    .q-items {
      &__list {
        grid-template-columns: repeat(4, minmax(50px, 235px));
        grid-gap: 10px;
      }
      &__label {
        &:last-child {
          .q-items__img {
            display: none;
          }
          .q-items__name {
            background-color: #9BB3D9;
            aspect-ratio: 1 / 1;
            max-width: 150px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .q-items__name-str {
            color: #fff;
          }
        }
      }
      &__img {
        background-color: unset;
        img {
          aspect-ratio: 1.56 / 1;
        }
      }
    }
  }
  &--view-4,
  &--view-5,
  &--view-6,
  &--view-8 {
    .q-items {
      &__inner {
        width: 100%;
      }
      &__list {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
      }
      &__input:checked + .q-items__ps-radio {
        box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.10);
        border: 1px solid $black;
      }
      &__name {
        display: flex;
        align-items: center;
        justify-content: center;
        aspect-ratio: 2.1 / 1;
        background-color: $white;
        padding: 20px;
      }
      &__name-str {
        color: #5F90EA;
        text-align: center;
        font-family: $main-font;
        font-size: 24px;
        line-height: 140%;
        text-transform: uppercase;
      }
    }
  }
  &--view-5 {
    .q-items {
      &__list {
        grid-gap: 5px;
      }
      &__name {
        aspect-ratio: 1.344 / 1;
      }
    }
  }
  &--view-6 {
    .q-items {
      &__list {
        grid-template-columns: repeat(4, 1fr);
      }
      &__name {
        aspect-ratio: 1 / 1;
        position: relative;
      }
      &__name::before {
        content: '';
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 155px;
        height: 155px;
        border-radius: 100%;
        border: 4px solid #96ADD7;
      }
      &__label:last-child .q-items__name::before {
        display: none;
      }
    }
  }
  &--view-7 {
    .q-items {
      &__list {
        grid-template-columns: repeat(2, minmax(274px, 387px));
        grid-gap: 20px;
      }
    }
  }
  &--view-8 {
    .q-items {
      &__list {
        grid-template-columns: repeat(4, 1fr);
      }
      &__name {
        aspect-ratio: 1.58 / 1;
      }
    }
  }
  @include mob {
    flex-grow: 0;
    &__list {
      grid-gap: 10px;
    }
    &--view-1 {
      .q-items {
        &__img img {
          aspect-ratio: 8.1 / 9;
        }
        &__name-str {
          font-size: 16px;
          svg {
            margin-left: 10px;
          }
        }
      }
    }
    &--view-2,
    &--view-3,
    &--view-9 {
      .q-items {
        &__list {
          grid-gap: 10px 5px;
        }
        &__name {
          font-size: 14px;
        }
      }
    }
    &--view-2.q-items--step-2.q-items--type-rings {
      .q-items {
        &__list {
          grid-template-columns: repeat(3, minmax(90px, 183px));
        }
      }
    }
    &--view-3 {
      .q-items {
        &__list {
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 5px;
        }
      }
    }
    &--view-9 {
      .q-items {
        &__list {
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 5px;
        }
        &__label {
          &:last-child {
            .q-items__name {
              max-width: none;
            }
          }
        }
        &__img {
          img {
            aspect-ratio: 1 / 1;
          }
        }
      }
    }
    &--view-4,
    &--view-5,
    &--view-6,
    &--view-8 {
      .q-items {
        &__list {
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 5px;
        }
        &__name {
          aspect-ratio: 1 / 1.1;
          padding: 10px;
        }
        &__name-str {
          font-size: 16px;
        }
      }
    }
    &--view-6 {
      .q-items {
        &__name::before {
          width: 70px;
          height: 70px;
          border: 2px solid #96ADD7;
        }
      }
    }
    &--view-7 {
      .q-items {
        &__list {
          grid-template-columns: repeat(1, 1fr);
          grid-gap: 10px;
        }
      }
    }
  }
}