.q-finish {
  padding-bottom: 46px;
  &__img {
    max-width: 794px;
    margin: 0 auto;
    margin-bottom: 30px;
    background-color: $white;
    img {
      aspect-ratio: 16.8/9;
      object-position: center;
      object-fit: contain;
    }
  }
  &__caption {
    text-align: center;
    font-family: $main-font;
    font-size: 16px;
    line-height: 150%;
    max-width: 386px;
    margin: 0 auto;
  }
  @include mob {
    padding: 0 10px;
    padding-bottom: 20px;
    &__img {
      margin-bottom: 15px;
      img {
        aspect-ratio: 8.7/9;
      }
    }
    &__caption {
      text-align: left;
    }
  }
}